body {
  padding-top: 60px;
  background-image:url(/images/bgpattern.png);
   background-repeat: repeat;
}

.smallbox{
	height:100px; 
	background-color:#FFF; 
}

.medbox{
  height:300px; 
  background-color:#FFF; 
}

.inviborder {
    background-clip: padding-box;
    border: 2px solid transparent;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.shadow{
	
	box-shadow: 0px 0px 5px #888888;
}

html * {
	font-family: 'Open Sans', sans-serif;
}

//* SPECIAL FONT *//

@font-face {
    font-family: myFirstFont;
    src: url(YanoneKaffeesatz-Bold.otf);
}

.highlight{
  font-family: myFirstFont;
    font-size: 3.438em;
    text-align:center;
    margin-top:50px;
}


.highlight-1 {
  color:green;
  font-family:myFirstFOnt;    
} 
