body {
  padding-top: 60px;
  background-image:url(/images/bgpattern.png);
   background-repeat: repeat;
}

//* MISC *//

.inviborder {
    background-clip: padding-box;
    border: 2px solid transparent;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.shadow{
  box-shadow: 0px 0px 5px #888888;
}

//* BOXES *//

.smallbox{
	height:50px; 
	background-color:#FFF; 
}

.medbox{
  height:300px; 
  background-color:#FFF; 
}

//* FONT *//

html * {
	font-family: 'Open Sans', sans-serif;
}

//* SPECIAL FONT *//

@font-face {
  font-family: myFirstFont;
  src: url(YanoneKaffeesatz-Bold.otf);
}

.highlight{
  font-family: myFirstFont;
  font-size: 3.438em;
  text-align:center;
  margin-top:50px;
  color:#009900;
}

.highlight-1 {
  color:#000;
  font-family:myFirstFOnt;    
} 

.highlight-2 {
  color:green;
  font-family:myFirstFOnt;    
} 

.highlight-4{
  font-family: myFirstFont;
  font-size: 3.438em;
  text-align:center;
  margin-top:50px;
  color:#000;
}

.price-start{
  font-family: myFirstFont;
  font-size: 2.5em;
  text-align:center;
  color:#B2B2B2;
}

.price-now{
  font-family: myFirstFont;
  font-size: 2.5em;
  text-align:center;
  color:#009900;
}

.number-buy{
  font-family: myFirstFont;
  font-size: 2.5em;
  text-align:center;
  color:#000;
}

ul li a {
  -moz-box-shadow:    inset 0 0 0 #7E7E7E;
  -webkit-box-shadow: inset 0 0 0 #7E7E7E;
  box-shadow:         inset 0 0 0 #7E7E7E;
}

ul li a:hover{
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -moz-box-shadow:    inset 0 0 30px #dfdfdf;
  -webkit-box-shadow: inset 0 0 30px #dfdfdf;
  box-shadow:         inset 0 0 30px #dfdfdf; 
}

//* COUNTER *//

#defaultCountdown { width: 240px; height: 45px; }

.svg-container {
display: inline-block;
position: relative;
width: 100%;
padding-bottom: 72%;
vertical-align: middle;
overflow: hidden;
}

.svg-content {
display: inline-block;
position: absolute;
top: 0;
left: 0;
}

.navbar  li  a {
  padding-top:20px;
  padding-bottom:20px;
}

.navbar-btn {
  margin-top: 13px;
  margin-bottom: 13px;
}